    <div id="page">
        <div id="content-titel">
            <i class="fa fa-file-text-o"></i> Article
        </div>
        <hr>
        <div class="artikel">
            <div class="category">
                <img src="img/articles/{$thumb}" width="160" height="200" alt="Lorem ipsum">
            </div>
            <h3><a href="">{$title}</a></h3>
            <div class="info">
                <i class="fa fa-user"></i> {$author} | <i class="fa fa-clock-o"></i> {$date}
            </div>
            <div class="content">
                <p>{$content}</p>
            </div>
        </div>
        <hr>
    </div>
